---
# Only the main Sass file needs front matter
---
@import "minima";

body {
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/StellaoftheEndSwitch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3; /* 调整透明度 */
  z-index: -1; /* 确保背景在内容后面 */
}